[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
pillow = "*"
psycopg2-binary = "*"
django-environ = "*"
gunicorn = "*"
whitenoise = "*"
django-on-heroku = "*"

[dev-packages]

[requires]
python_version = "3.9"
