{% extends general.template_container.container %}
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'styles/lib/listview.css' %}">
<link rel="stylesheet" href="{% static 'styles/lib/datagrid.css' %}">
<link rel="stylesheet" href="{% static 'styles/lib/modal_dialog.css' %}">
<style>
    [class*="col_"] {
        width: var(--col-1);
        /*
        text-align: center;
        order: 0;
        display: block; 
        */
    }
    /* desc */
    .col_1 {
        width: var(--col-5);
    }
    /* tipo movimiento */
    .col_2 {
        width: var(--col-4);
    }
    .col_3 {
        width: var(--col-1);
    }
    /* accion  */
    .col_4 {
        width: var(--col-2);
    }

    @media  screen and (min-width:600px){
    /* For tablets: */
    }
    
    @media screen and (min-width:768px){ 
        /* For desktop: */
        /* desc */
        .col_1 {
            width: var(--col-5);
        }
        /* tipo movimiento */
        .col_2 {
            width: var(--col-3);
        }
        .col_3 {
            width: var(--col-2);
        }
        /* accion  */
        .col_4 {
            width: var(--col-2);
        }

    }
</style>
{% endblock %} 

{% block content %} 

{% include general.component_listview %}

<script src="{% static 'js/lib/lib.js' %}"></script>
<script src="{% static 'js/lib/controller.js' %}"></script>
<script src="{% static 'js/lib/form.js' %}"></script>
<script src="{% static 'js/lib/datagrid.js' %}"></script>
<script src="{% static 'js/lib/modal_dialog.js' %}"></script>
<script src="{% static 'js/rubrodiario/rubrodiario_list.js' %}"></script>

{% endblock %} 