<!-- modal_dialog -->
<div id="modal_dialog" class="modal_dialog">
    <div class="modal_dialog__box">
        <div class="modal_dialog__header">
            <h1><div id="modal_dialog__header__text" class="modal_dialog__header__text">Elija opción</div></h1>
        </div>

        <div class="modal_dialog__body">
            <div id="modal_dialog_text"></div>

            <div id="modal_dialog__body__options" class="modal_dialog__body__options">
                
            </div>
        </div>

        <span id="modal_dialog_close" class="material-icons modal_dialog__close">close</span>
    </div>
</div>